<div class="todo-component">
  <h2>{{ title }}</h2>
  <div class="todo-add">
    <form class="form-add-todo">
      <input
        type="text"
        name="inputTodo"
        placeholder="Enter your ToDo"
        class="todo-input"
        [(ngModel)]="inputTodo"
      />
      <a
        class="btn-add-todo"
        href="/#"
        (click)="addTodo()"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="btn-text">Add ToDo</span>
      </a>
    </form>
  </div>

  <div class="todos">
    <div class="todo" *ngFor="let todo of todos; let i = index;">
      <p class="todo-id">{{ i }}</p>
      <p
        class="todo-content {{ todo.completed ? 'done' : '' }}"
        (click)="toggleDone( i )"
      >{{ todo.content }}
      </p>
      <a
        href="/#"
        class="btn-delete-todo"
        (click)="deleteTodo( i )"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="btn-text">Remove</span>
      </a>
    </div>
  </div>


</div>
